.container{
    width : 25vw;
    height: 25vh;
    display: flex;
    align-items: centre;
    justify-content: center;
    flex-direction: column;
}

.green_btn{
    border: none;
    outline: none;
    padding: 12px 0;
    background-color: #3bb19b;
    border-radius: 20px;
    width: 180px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}